# Dependencies
/node_modules/
/vendor/

# Build artifacts
*.zip
/build/
/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Environment
.env
.env.*
